[flake8]
exclude =
    migrations,
    manage.py,
    settings.py,
    __pycache__,
    venv,
    .venv,
    .tox,
    .git,
    .idea,
    .vscode,
    .pytest_cache,
    .coverage,
    .coveragerc,
    .flake8,
    .gitignore,
    .gitmodules,
    .travis.yml,
    .coveralls.yml,
    .readthedocs.yml,
    .github,
